<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Meme Creator!</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Welcome to Meme Creator!
    </h1>

    The available memes are:
    <dl>
    <% KNOWN_MEMES.each do |meme| %>
      <dt>
        <a href="/this is/a test/<%= meme %>.jpg">
          <%= meme %>
        </a>
      </dt>
    <% end %>
    </dl>
  </body>
</html>
